data/
papers/
plots/
ensemble_plots/
.DS_Store
__pycache__/
*.pyc
*.tar.gz
*.npy
*.csv
*.log
*.png
ground-truth/
npy_data/
pipeline_results/
pipeline_results_1000/
pipeline_results_new/
test_ensemble_plots/
bits-logo.png
report*
csf266*
spo2/results/